@model Blog.ViewModels.Account.ForgotPasswordEmailViewModel
@{
    Layout = "~/Views/EmailTemplates/_EmailsLayout.cshtml";
    ViewData["Title"] = "Reset Paasword";
    var resetPasswordLink = Url.Action("ResetPassword", "Account", new { area = "", code = Model.ResetPasswordCode }, protocol: this.Context.Request.Scheme);
}
<h3>
    @Model.UserName
</h3>
<a href="@resetPasswordLink">Reset Password</a>