@using System.Net
@{
    ViewData["Title"] = "Access Denied";
    Context.Response.StatusCode = (int)HttpStatusCode.Forbidden;
}

<div class="row">
    <div class="alert alert-warning col-12 justify-content-center">
        <h4>Access Denied</h4>
    </div>
</div>