@{
    ViewData["Title"] = "Register Success";
}

<div class="row">
    <div class="alert alert-success col-12 justify-content-center">
        <h4>Confirmation Success</h4>
        <a asp-controller="Account" asp-action="Login" asp-area="" class="btn btn-primary">Login</a>
    </div>
</div>