@{
    ViewData["Title"] = "Forgot Password Confirm";
}


<div class="row">
    <div class="alert alert-success col-12 justify-content-center">
        <h4>Forgot password success</h4>
        <p>Please check your email</p>
    </div>
</div>