@{
    ViewData["Title"] = "Register Success";
}

<div class="row">
    <div class="alert alert-success col-12 justify-content-center">
        <h4>Register Success</h4>
        <p>Please confirm email </p>
    </div>
</div>