@using Blog.ViewModels.Dashboard;
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
}

<div class="card border-0 rounded shadow">
    <div class="card-body">
        <h5 class="text-md-start text-center">تغییر رمز عبور</h5>
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="form-label" asp-for="CurrentPassword"></label>
                        <div class="form-icon position-relative">
                            <i class="icons mdi mdi-form-textbox-password"></i>
                            <input asp-for="CurrentPassword" class="form-control ps-5">
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="form-label" asp-for="NewPassword"></label>
                        <div class="form-icon position-relative">
                            <i class="icons mdi mdi-lock"></i>
                            <input asp-for="NewPassword" class="form-control ps-5">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                   </div>
                </div> 
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="form-label" asp-for="ConfirmPassword"></label>
                        <div class="form-icon position-relative">
                            <i class="icons mdi mdi-lock"></i>
                            <input asp-for="ConfirmPassword" class="form-control ps-5">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">ویرایش</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
<partial name="_ValidationScriptsPartial"/>
<script>
    $('#ChangePassword').addClass('active');
</script>
}