@model Blog.ViewModels.Post.PostDetailViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold">@Model.Title</h2>
                <img src="/img/covers/@Model.Cover" class="img-fluid rounded-3"/>
                <p class="text-muted">
                    @Model.Content
                </p>
            </div>
        </div>
    </div>
</section>
