@{
    ViewData["Title"] = "Admin Panel";
}

<a asp-controller="Admin" asp-action="Users" class="btn btn-primary d-block">Users</a>
<a asp-controller="Admin" asp-action="AllPosts" class="btn btn-primary d-block mt-2">All Post</a>
<a asp-controller="Admin" asp-action="AddPost" class="btn btn-primary d-block mt-2">Add Post</a>