<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Inter.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-md sticky-top py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="/">
                    <span>Blog</span>
                </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="AboutMe">About me</a></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-primary shadow" role="button" asp-action="Index" asp-controller="Admin" asp-area="">Admin Panel</a>
                        }
                    </ul>
                    <div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-controller="Account" asp-action="Logout" asp-area="">
                                <button class="btn btn-primary shadow" role="button" asp-action="Logout" asp-controller="Account" asp-area="">Logout</button>
                            </form>
                        }
                        else
                        {
                            <a class="btn btn-primary shadow" role="button" asp-action="Register" asp-controller="Account" asp-area="">Sign up</a>
                            <a class="btn btn-primary shadow" role="button" asp-action="Login" asp-controller="Account" asp-area="">Login</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark">
        <div class="container py-4 py-lg-5">
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0">Copyright © 2022 Blog</p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap5/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/bold-and-dark.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
